*,
::after,
::before {
  box-sizing: border-box;
}
.search-form {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(64, 114, 84);
}
input[name='searchQuery'] {
  height: 30px;
  margin-right: 10px;
  border-radius: 2px;
  background-color: #ffff;
  border-color: transparent;
}
img {
  width: 100%;
  display: block;
}
.gallery {
  display: flex;
  flex-wrap: wrap;

  color: rgb(0, 0, 0);
}
.info {
  display: flex;
  justify-content: center;
}
.info-item {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.info-value {
  display: block;
}
.info-item:not(:first-child) {
  margin-left: 10px;
}
.link {
  width: 300px;
  height: 300px;

  text-decoration: none;
  display: block;
  margin-left: 10px;

  color: inherit;
}
.photo-card {
  display: flex;
  flex-direction: column;
}
