*,
::after,
::before {
  box-sizing: border-box;
}
.search-form {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(64, 114, 84);
}
.container {
  text-align: center;
}
.search-input {
  height: 30px;

  border-radius: 2px;
  background-color: #ffff;
  border-color: transparent;
}
.photo-img {
  height: 200px;
  display: block;
}
.gallery {
  display: flex;
  flex-wrap: wrap;

  color: rgb(0, 0, 0);
}
.info {
  display: flex;
  justify-content: center;
}
.info-item {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.info-value {
  display: block;
}
.info-item:not(:first-child) {
  margin-left: 10px;
}
.link {
  /* width: 300px;
  height: 300px; */

  text-decoration: none;
  display: block;
  margin-left: 10px;

  color: inherit;
}
.photo-card {
  width: 300px;

  display: flex;
  flex-direction: column;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.load-more {
  width: 200px;
  height: 50px;
  border-radius: 4px;
}
